<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="icon" href="/static/uploads/download-removebg-preview.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" flex items-center justify-center min-h-screen" style="background-color: #FEFAD9;">
    <nav class="p-4 fixed w-full top-0 z-50" style="background-color: #C5E2B6;">
        <div class="max-w-9xl mx-auto flex justify-between items-center text-white">

            <div class="flex items-center space-x-1">
                <img src="/static/uploads/download-removebg-preview.png" alt="BicutanMed Logo" class="h-12 w-10 object-contain"> 
                <a href="/index" class="text-2xl text-black font-bold" style="font-family: 'Libre Baskerville', Georgia, serif;">BicutanMed</a>
            </div>
        </div>
    </nav>

    <div class="p-10 rounded-lg shadow-md w-full sm:max-w-5xl" style="background-color: #C5E2B6;">
        <div class="flex items-center space-x-2">
            <img src="/static/uploads/acc.jpg" alt="Uniwork Logo" class="h-20 w-20 object-contain">
            <h2 class="text-2xl font-bold text-left text-stone-950 mb-1" style="font-family: 'Libre Baskerville', Georgia, serif; ">Internship/OJT</h2>
        </div>
        <form action="/index" method="POST" class="space-y-6">
            <div>
                <label for="usercode" class="block text-sm text-black font-bold mt-8">User code: 21-01894</label>
            </div>
            <div>
                <label for="name" class="block text-sm text-black font-bold">Name: Jorge Michael S. Llagas</label>
            </div>
            <div>
                <label for="email" class="block text-sm text-black font-bold mt-8">Email ID: jorgemichael11.jm@gmail.com</label>
            </div>
            <div>
                <label for="phone" class="block text-sm text-black font-bold">Phone No.: 09618800589</label>
            </div>
            <div>
                <label for="address" class="block text-sm text-black font-bold mt-8">Address: Road 7 Purok 3, Maguindanao Ave, New Lower Bicutan Taguig City</label>
            </div>
            <div>
                <label for="Department" class="block text-sm text-black font-bold">Department: PhilHealth Department</label>
            </div>
            <div>
                <label for="salary" class="block text-sm text-black font-bold">Salary: N/A</label>
            </div>
        </form>
    </div>

</body>
</html>